<aside class="side-banner">
  <img src="assets/images/photo.png" alt="Photo de moi" class="profile-photo" />
  <p class="name">Michael GARCIA - Ph.D.</p>
  <p class="desc">Data Engineer | Rigueur Scientifique</p>
  <p><i class="fa-solid fa-location-dot"></i>Aix-les-bains, France</p>
  <p><i class="fa-solid fa-location-dot"></i><strong>Mobile</strong> (Région Lyon, Genève, Grenoble)</p>
  <p><i class="fa-solid fa-envelope"></i> <a href="mailto:michaelgarcia73@gmail.com">Email</a></p>
  <p><i class="fab fa-linkedin"></i> <a href="https://linkedin.com/in/michaelgarcia838383" target="_blank" rel="noopener">LinkedIn</a></p>
  <p><i class="fab fa-github"></i> <a href="https://github.com/michaelg-create" target="_blank" rel="noopener">GitHub</a></p>
</aside>