<aside class="side-banner">
  <img src=" assets/images/photo.png" alt="My photo" class="profile-photo" />
  <p class="name">Michael GARCIA - Ph.D.</p>
  <p class="desc">Data Engineer | Scientific Rigor</p>
  <p><i class="fa-solid fa-house"></i>Aix-les-Bains, France</p>
  <p><i class="fa-solid fa-location-dot"></i>Mobility: Lyon, Geneva, Grenoble</p>
  <p><i class="fa-solid fa-envelope"></i> <a href="mailto:michael.garcia.73@gmail.com">Email</a></p>
  <p><i class="fab fa-linkedin"></i> <a href="https://linkedin.com/in/michaelgarcia838383" target="_blank" rel="noopener">LinkedIn</a></p>
  <p><i class="fab fa-github"></i> <a href="https://github.com/michaelg-create" target="_blank" rel="noopener">GitHub</a></p>
  <p><svg class="sidebar-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16" fill="currentColor"><path d="M15 3.604H1v1.891h14v-1.89ZM1 7.208V16l7-3.926L15 16V7.208zM15 0H1v1.89h14z"/></svg> <a href="https://denewtonaladata.substack.com/" target="_blank" rel="noopener">Substack</a></p>
</aside>